/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\
for details on configuring this project to bundle and minify static web assets. */

@font-face {
    font-family: 'darker_grotesqueblack';
    src: url('../fonts/DarkerGrotesque-Black.woff') format('woff');
    src: url(../fonts/DarkerGrotesque-Black.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'darker_grotesquebold';
    src: url('../fonts/DarkerGrotesque-Bold.woff') format('woff');
    src: url('../fonts/DarkerGrotesque-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'darker_grotesqueextrabold';
    src: url('../fonts/DarkerGrotesque-Extrabold.woff') format('woff');
    src: url('../fonts/DarkerGrotesque-Extrabold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'darker_grotesquelight';
    src: url('../fonts/DarkerGrotesque-Light.woff') format('woff');
    src: url('../fonts/DarkerGrotesque-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'darker_grotesquemedium';
    src: url('../fonts/DarkerGrotesque-Medium.woff') format('woff');
    src: url('../fonts/DarkerGrotesque-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'darker_grotesqueregular';
    src: url('../fonts/DarkerGrotesque-Regular.woff') format('woff');
    src: url('../fonts/DarkerGrotesque-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'darker_grotesquesemibold';
    src: url('../fonts/DarkerGrotesque-Semibold.woff') format('woff');
    src: url('../fonts/DarkerGrotesque-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    padding-bottom: 20px;
    background-color: whitesmoke;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.wrapper {
    width: 100%;
    overflow-y: hidden
}

#content {
    margin-left: 345px;
    height: 100vh;
}

.sidebar {
    height: 100vh;
    width: 345px;
    background-color: white;
    position: fixed;
    overflow-x: hidden;
    z-index: 1;
    top: 0;
    left: 0;
}

    .sidebar img {
        width: 24px;
        height: auto;
    }

    .sidebar #logo {
        width: 80%;
        height: auto;
        padding-top: 15px;
    }

    .sidebar .profil-slika img {
        width: 100%;
        height: auto;
    }

    .sidebar ul {
        list-style: none;
        margin-top: 20px;
        padding-left: 0;
    }

        .sidebar ul li {
            padding-left: 15px;
        }

            .sidebar ul li a {
                text-decoration: none;
                color: black;
                padding-top: 20px;
                padding-bottom: 20px;
                display: inline-block;
                width: 100%;
            }

            .sidebar ul li span {
                font-family: darker_grotesqueblack;
                font-size: 18px;
                padding-left: 15px;
                vertical-align: middle;
            }

.profil-ime h3 {
    font-family: darker_grotesqueblack;
    font-size: 18px;
}

.profil-ime h5 {
    font-family: darker_grotesquesemibold;
    font-size: 14px;
}

.active {
    background-color: red;
}

    .active a#takmicenje {
    }

    .active a span {
        color: white;
    }

#sidebarExpanded span {
    display: inline-block;
    padding-top: 20px;
}

.profil-slika {
    margin-top: 50px;
}

    .profil-slika img {
        border: 4px solid darkgray;
        border-radius: 7px;
    }

.profil-ime {
    margin-bottom: 20px;
}

.wrapper.expanded .sidebar {
    width: 55px;
}

    .wrapper.expanded .sidebar #logo {
        display: none;
    }

    .wrapper.expanded .sidebar .profil-slika {
        display: none;
    }

    .wrapper.expanded .sidebar .profil-ime {
        display: none;
    }

    .wrapper.expanded .sidebar ul li a {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .wrapper.expanded .sidebar ul li span {
        display: none;
    }

.wrapper.expanded #content {
    margin-left: 55px;
}

.panel-arhivirano {
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border: 0;
    position: relative;
}

.panel-status {
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border-radius: 7px;
    border: 0;
}

.panel .panel-body-status {
    border: 0;
}

.panel .panel-heading-status {
    border: 0;
    background-color: white;
    font-size: 24px;
    font-family: darker_grotesquesemibold;
    border-radius: 7px;
}

    .panel .panel-heading-status h4 {
        display: inline-block;
        font-family: darker_grotesqueblack;
        font-size: 24px;
    }

.naziv-takmicenja {
    font-family: darker_grotesqueblack;
    font-size: 16px;
    display: block;
}

.datum-takmicenja {
    font-family: darker_grotesquebold;
    font-size: 12px;
}

.arhivirano-takmicenje {
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(128, 128, 128, 0.4);
    border-radius: 4px;
}

img.arhivirano-slika {
    filter: grayscale(100%);
}

.takmicenje-slika {
    width: 100%;
    height: auto;
}

h2 {
    font-family: darker_grotesqueblack;
    font-size: 34px;
}

#kreiraj-novo-takmicenje {
    font-family: darker_grotesqueblack;
    font-size: 16px;
}

nav ol.breadcrumb {
    background-color: white;
    padding: 20px;
}

    nav ol.breadcrumb li.breadcrumb-item {
        color: black;
        font-family: darker_grotesquebold;
        font-size: 19px;
    }

        nav ol.breadcrumb li.breadcrumb-item::before {
            display: none;
        }

        nav ol.breadcrumb li.breadcrumb-item a {
            color: black;
        }

li.separator {
    font-family: darker_grotesqueblack;
    font-size: 19px;
    padding-left: 10px;
    padding-right: 10px;
}

    li.separator::before {
        display: none;
    }

@media only screen and (max-width: 450px) {
    .sidebar {
        width: 100%;
    }

    #content {
        overflow-x: auto;
    }
}